header {
  height: 250px;
  background: url(../img/img_packages.jpg);
  background-attachment: scroll;
  background-size: cover;
  background-repeat: space;
  background-position: center;
}

.home {
  padding: 32px 0;
  color: #161936;
}

.section-title {
  margin-top: 80px;
}

.packages {
  padding: 32px 0;
  color: #161936;
  text-align: center;
}

.packages h2,
h3 {
  padding: 16px;
}

.packages-offers {
  padding: 8px;
}

.packages-info p {
  padding: 8px;
}

.section-packages {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 56px 32px;
  height: 390px;
  background: #ffffff;
  -webkit-box-shadow: 10px 10px 5px 8px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 10px 10px 5px 8px rgba(0, 0, 0, 0.56);
  box-shadow: 10px 10px 5px 8px rgba(0, 0, 0, 0.56);
}

.section-packages h2 {
  margin-bottom: 24px;
}

.bg-fb {
  background: url(../img/bg_package_1.png);
  background-size: contain;
  background-position: top;
  background-repeat: round;
}

.bg-ig {
  background: url(../img/bg_package_2.jpg);
  background-size: contain;
  background-position: top;
  background-repeat: round;
}

.bg-ig h1 {
  color: #ffffff;
}

.bg-web {
  background: url(../img/bg_package_1.png);
  background-size: contain;
  background-position: top;
  background-repeat: round;
}

.packages-plus {
  display: flex;
  justify-content: space-evenly;
  margin: 56px 0;
}

.bg-plus {
  background: url(../img/bg_package_3.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.plus {
  margin: 16px;
  height: 250px;
}

@media screen and (min-width: 768px) {
  .packages-deals {
    width: 460px;
    margin: 0 auto;
  }

  .plus {
    width: 300px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .section-title {
    margin: 56px 0 32px 0;
  }

  .packages-deals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }

  .packages {
    height: 800px;
    margin-top: 32px;
  }

  .plus {
    height: 320px !important;
  }

  .bg-fb {
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .bg-ig {
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .bg-web {
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .section-packages {
    padding: 20px;
    margin: 0 auto;
    width: 290px;
    height: 500px;
  }
}
