* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "bebas";
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}
/*----- HEADER ------*/

header {
  background: url(../img/img_bg_1.jpg);
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-logo {
  width: 60px;
  height: 70px;
}

header .container {
  position: relative;
  height: 800px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: #161936;
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  font-family: "bebas";
  justify-content: center;
  align-items: center;
  display: inline-block;
  margin: 40px 20px;
  text-decoration: none;
  position: relative;
}

.menu a:hover {
  text-decoration: none;
}

.header-text h1 {
  font-family: "bebas";
  font-size: 70px;
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 250px;
}

/* MAIN */

.main .home .container {
  overflow: visible;
  position: relative;
}

/* --------- Services section ---------- */
.home {
  height: 700px;
  padding: 56px;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-home {
  width: 100%;
  max-width: 500px;
}
.section-home h1 {
  font-size: 26px;
  text-align: center;
  font-family: "bebas";
  margin: 0 15px 15px;
}
.section-home img {
  display: block;
  margin: auto;
}
.section-home p {
  font-family: helvetica;
  font-size: 12px;
  margin: 15px 15px 0px 15px;
  text-align: justify;
}

.section-title {
  margin-top: 40px;
  margin-bottom: 100px;
  text-align: center;
  font-size: 40px;
}

.section-border-left {
  border-left: 2px solid #161936;
}

/* About us */
.about-us {
  height: 600px;
  background: url(../img/img_bg_2.jpg);
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-us h1 {
  font-size: 40px;
  color: white;
}

.about-us p {
  font-size: 24px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/*Packages */

.packages-offers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.section-packages {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
  width: 290px;
  height: 500px;
  background: #ffffff;
  -webkit-box-shadow: 8px 8px 8px 1px #d3d3d3;
  -moz-box-shadow: 8px 8px 8px 1px #d3d3d3;
  box-shadow: 8px 8px 8px 1px #d3d3d3;
}

.section-packages h1 {
  color: #161936;
  font-size: 16pt;
  font-family: "bebas";
  margin: 15px;
  text-align: center;
}

.section-packages p {
  color: #161936;
  font-size: 12pt;
  font-family: helvetica;
  margin: 15px;
  text-align: center;
}

.section-packages h3 {
  color: #161936;
  font-size: 14pt;
  clear: both;
  text-align: center;
}

.packages {
  padding: 56px;
  background: url(../img/bg_yellow_lines.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  height: 1200px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.packages h3 {
  font-size: 15px;
  margin-bottom: 40px;
}
.packages h1 {
  font-size: 40px;
  margin-bottom: 25px;
}

/*Footer */

.social-media {
  width: 40px;
  height: 40px;
}

.copy {
  color: #ffffff;
  font-size: 10pt;
  font-family: helvetica;
  text-align: center;
}

/*-----------Portfolio html--------------------------*/

.header-portfolio {
  background: url(../img/bg_portfolio.jpg);
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-portfolio a {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  font-family: "bebas";
  justify-content: center;
  align-items: center;
  display: inline-block;
  margin: 40px 20px;
  text-decoration: none;
  position: relative;
}

/* --------------------------------- MEDIA QUERIES ----- ------------------------------ */

@media screen and (max-width: 996px) {
  /* --------- Packages section ---------- */
  .packages {
    height: auto;
  }

  .section-packages {
    width: 80%;
    margin: 0;
  }

  .packages-offers {
    grid-template-columns: 1fr;
    grid-gap: 16px;
    width: 100%;
    justify-items: center;
  }
}

@media screen and (max-width: 800px) {
  header .container {
    position: static;
    height: 300px;
  }

  header .menu {
    text-align: center;
  }

  .menu {
    flex-wrap: wrap;
  }

  .menu a {
    font-size: 16px;
    margin: 10px 8px;
  }

  .menu-logo {
    width: 40px;
    height: 50px;
  }

  header {
    background: url(../img/img_bg_1.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .header-text h1 {
    font-size: 32px;
    text-align: center;
    position: relative;
    top: 90px;
  }

  .main .home {
    position: relative;
    width: 100%;
  }

  .main .acerca-de article {
    position: relative;
    width: 100%;
    top: -50px;
    transform: translate(0px, 0);
  }

  .main .menu {
    padding-top: 300px;
  }

  .main .menu article {
    width: 100%;
  }

  .main .galeria .foto {
    width: 50%;
  }

  .main .mapa {
    width: 80%;
    margin: auto;
  }

  /* --------- Services section ---------- */
  .home {
    height: auto;
  }

  .services-container {
    flex-flow: column;
    align-items: center;
  }

  .section-home {
    margin-bottom: 16px;
    max-width: 300px;
  }

  .section-border-left {
    border-left: none;
  }

  /* --------- Packages section ---------- */
  .packages {
    padding: 24px;
  }

  /* --------- About us section ---------- */

  .about-us {
    height: 500px;
    flex-flow: column;
    text-align: center;
    justify-content: space-evenly;
  }

  /* ---------- Footer section ------------ */
}

@media screen and (max-width: 400px) {
  .header-text h1 {
    font-size: 24px;
    text-align: center;
    position: relative;
    top: 90px;
  }

  .main .acerca-de article h3 {
    font-size: 34px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 320px) {
  /* --------- Packages section ---------- */

  .packages {
    padding: 8px;
  }

  .section-packages {
    width: 100%;
  }
}
